<div class="app-container" data-appid="virtual-file-system">
    <div class="app-content">
        <div class="app-section">
            <div class="breadcrumb-container">
                <div class="breadcrumb">
                    <span class="breadcrumb-item" data-path="/">Root</span>
                </div>
                <div class="breadcrumb-actions">
                    <!-- Hamburger menu will be inserted here by JavaScript -->
                </div>
            </div>
            
            <div class="file-explorer">
                <div class="file-list">
                    <!-- File list will be populated by JavaScript -->
                </div>
            </div>
            
            <!-- Status bar within app container -->
            <div class="vfs-status-section">
                <div class="vfs-stats-display">
                    <!-- Status summary will be populated by JavaScript -->
                </div>
            </div>
        </div>
    </div>
</div> 